*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: cyan;
  font-family: cursive;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.container{
    border: 1px solid black;
    min-width: 300px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 5px 10px;

}
h1{
  text-align: center;
  color: white;

}
input{
  width: 100%;
  border-radius: 10px;
  background-color: white;

}
.container ul{
  list-style: none;
}
.container ul li{
  text-align: center;
}

.comune{
  float: right;
  padding: 0 5px;
}
.comune:after{
  content: '';
  display: table;
  clear: both;
}
.cancellato{
  text-decoration: line-through;
}
